# Exclude build artifacts and wrapper scripts from language stats
build/** linguist-vendored=true
srlc/build/** linguist-vendored=true
*.bat linguist-vendored=true
*.sh linguist-vendored=true
*.vcxproj linguist-vendored=true
*.filters linguist-vendored=true

# Enable syntax highlighting & detection for SRL source files
*.srl linguist-language=C++
*.srl linguist-detectable=true
